.marquee {
  white-space: nowrap;
}

.marquee-content {
  position: absolute;
  display: inline-block;
  animation: marquee 25s linear infinite;
}

.marquee-content::before,
.marquee-content::after {
  content: '';
  flex: 1;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
