.animation {
  filter: blur(90px);
  animation: shape1Animation 5s infinite;
}

@keyframes shape1Animation {
  0% { transform: translate(0, 0); }
  50% { transform: translate(100px, 50px); }
  100% { transform: translate(0, 0); }
}

.animation2 {
  filter: blur(90px);
  mix-blend-mode: color-dodge;
  animation: shape2Animation 5s infinite;
}

@keyframes shape2Animation {
  0% { transform: translate(0, 0); }
  50% { transform: translate(-50px, 100px); }
  100% { transform: translate(0, 0); }
}
